.header-margin {
  margin-top: 28px;
  margin-bottom: 45px;
}

.get-started-btn {
  background-color: "var(--color-gray-gray-100, #F2F4F7)";
  border: none;
  border-radius: 50px;
  width: 156px;
  height: 44px;
}

.get-started-btn-text {
  font-size: 14px;
  font-weight: 700;
  font-family: 'Chivo';
}

.menu-item {
  border: none;
  background-color: transparent;
  font-family: 'Chivo';
  font-size: 14px;
  font-weight: 500;
}

.star-bgr {
  background-color: #FAEDE3;
}

.get-margin-column1 {
  margin-top: 156px;
  margin-bottom: 156px;
}

.font1 {
  font-family: 'Chivo';
  font-size: 60px;
  font-weight: 550;
}

.font1-color {
  color: #006D77;
}

.font2 {
  font-family: 'Noto Sans';
  font-size: 18px;
  font-weight: 400;
  color: #667085;
}

.banner-item1 {
  border-radius: 50px;
  background-color: #101828;
  padding: 12px 22px 12px 22px;
}

.banner-font1 {
  font-family: 'Chivo';
  font-size: 14px;
  font-weight: 400;
  color: #FFF;
}

.banner-item2 {
  border-radius: 50px;
  background-color: transparent;
  border: none;
  padding: 12px 22px 12px 22px;
}

.picture-girl {
  width: 671px;
  height: 760px;
}

.pattern1 {
  right: -28px;
  top: -84px;
}

.pattern2 {
  bottom: -80px;
  left: 0px;
}

.elemen-mt {
  margin-top: 102px;
}

.font4 {
  font-family: 'Chivo';
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  margin: 0 124px 0 124px;
  line-height: normal;
}

.elemen-mt141 {
  margin-top: 141px;
}

.font5 {
  font-family: 'Noto Sans';
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: #475467;
}

.team-btn {
    padding: 12px 22px 12px 22px;
    border: 2px solid #006D77;
    border-radius: 50px;
    background-color: transparent;
    color: #006D77;
}
.element-mt77 {
  margin-top: 77px;
}

.get-bgr1 {
  background-color: #FFF3EA;
  padding: 78px 120px 78px 90px;
}

.learnmore-bg {
  background-color: white !important;
}

.elemen-mt58 {
  margin-top: 58px;
}

.font6 {
  font-family: 'Chivo';
  font-size: 30px;
  font-weight: 600;
}

.font7 {
  font-family: 'Noto Sans';
  font-size: 14px;
  font-weight: 400;
  color: #475467;
}
.get-picture-2people {
  height: 500px;
}

.play-btn {
  left: -80px;
  top: 180px;
}

.elemen-mt137 {
  margin-top: 137px;
}
.elemen-mt30 {
  margin-top: 30px;
  margin-left: 89px;
  margin-right: 89px;
}

.get-bgr2 {
  border-radius: 16px;
  background-color: #DBECE5;
  padding: 53px 30px 55px 48px;
}

.elemen-mt79 {
  margin: 79px;
}

.get-bgr3 {
  border-radius: 16px;
  background-color: #D1ECFD;
  padding: 53px 30px 55px 48px;
}

.get-bgr4 {
  border-radius: 16px;
  background-color: #FFF3EA;
  padding: 53px 30px 55px 48px;
}

.elemmen-mr30 {
  margin-right: 30px;
}

.play-btn1 {
  bottom: 0px;
    right: 0;
}

.elemen-ml30 {
  margin-left: 30px;
}

.elemen-mt144 {
  margin-top: 144px;
}

.get-bgr5 {
  padding: 8px 20px 8px 20px;
  border-radius: 50px;
  color: #E29578;
  border: none;
}

.font10 {
  font-family: 'Chivo';
  font-size: 12px;
  font-weight: 400;
  color: #E29578;
}

.style-icon1 {
  width: 80px;
  height: 80px;
}

.elemen-mt91 {
  margin-top: 91px;
}

.elemen-mt20 {
  margin-top: 20px;
}

.style-text1 {
  margin-top: 20px;
  margin-left: 120px;
  margin-right: 120px;
}

.font11 {
  font-family: 'Chivo';
  font-size: 48px;
  font-weight: 600;
  text-align: center;
}

.get-bgr6 {
  border-radius: 16px;
  background-color: #FFF;
  padding: 43px 63px 53px 63px
}

.font12 {
  font-family: 'Chivo';
  font-size: 22px;
  font-weight: 400;
}

.elemen-mt33 {
  margin-top: 33px;
}

.get-style-5cham {
  height: 13px;
}

.font13 {
  font-family: 'Chivo';
  font-size: 56px;
  font-weight: 600;
}

.font14 {
  font-family: 'Noto Sans';
  font-size: 20px;
  font-weight: 400;
  color: #475467;
}

.element-ml95 {
  margin-left: 95px;
}

.style-picture-3pp {
width: 580px;
}

.banner-item3 {
  border-radius: 50px;
  background-color: transparent;
  border: none;
}

.elemen-mt51 {
  margin-top: 51px;
}

.elemen-mt48 {
  margin-top: 48px;
}

.elemen-mt34 {
  margin-top: 34px;
}

.elemen-mt14 {
  margin-top: 14px;
}

.elemen-mr50 {
  margin-right: 50px;
}

.bg1 {
  border: 10px solid #FAD2E1;
  background-color: #FFF;
  padding: 40px 40px 40px 40px
}

.bg2 {
  border: 10px solid #BEE1E6;
  background-color: #FFF;
  padding: 40px 40px 40px 40px
}

.bg3 {
  border: 10px solid #DDD3FA;
  background-color: #FFF;
  padding: 40px 40px 40px 40px
}

.bg4 {
  border: 10px solid #D1ECFD;
  background-color: #FFF;
  padding: 40px 40px 40px 40px
}

.style-img-pp {
  width: 55px;
  height: 56px;
  flex-shrink: 0;
}

.font15 {
  font-family: 'Chivo';
  font-size: 20px;
  font-weight: 400;
}

.font16 {
  font-family: 'Noto Sans';
  font-size: 12px;
  font-weight: 700;
  color: #344054;
}

 .elemen-mt6 {
  margin-top: 6px;
 }

.elemen-mt22{
  margin-top: 22px;
}

.get-style-3o {
  margin-right: 60px;
  margin-left: -90px;
}

.bg-transparent {
  background-color: transparent;
}

.bg-black {
  background-color: black;
}

.elemen-mt87 {
  margin-top: 87px;
}

.m100 {
  margin-left: 100px;
  margin-right: 100px;
}

.get-bgr-btn2 {
  border: none;
  color: #006D77;
}

.font17 {
  font-family: 'Chivo';
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  color: white;
}

.font18 {
  font-family: 'Noto Sans';
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: white;
}

.get-bgr7 {
  background-color: #006D77;
  padding: 87px 0px 111px 0px
}

.elemen-mt150 {
  margin-top: 150px;
}

.elemen-mt63 {
  margin-top: 63px;
}

.elemen-mt55 {
  margin-top: 55px;
}